{% extends "base.html" %} 
{% block title %}About Us{% endblock title %}
{% block page_content %}
<div class="about__us mt-5 col-md-12">
  <h1>About Us</h1>
  <hr />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque voluptates,
    enim amet perferendis tempora vero, nam quasi voluptas expedita veritatis
    omnis, aperiam debitis praesentium. Deleniti adipisci eligendi numquam est
    mollitia! Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ullam
    magnam neque, totam, earum consequatur, beatae unde odio quibusdam quam ex
    libero reprehenderit architecto illum impedit error cumque dignissimos
    autem.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque voluptates,
    enim amet perferendis tempora vero, nam quasi voluptas expedita veritatis
    omnis, aperiam debitis praesentium. Deleniti adipisci eligendi numquam est
    mollitia! Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ullam
    magnam neque, totam, earum consequatur, beatae unde odio quibusdam quam ex
    libero reprehenderit architecto illum impedit error cumque dignissimos
    autem.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque voluptates,
    enim amet perferendis tempora vero, nam quasi voluptas expedita veritatis
    omnis, aperiam debitis praesentium. Deleniti adipisci eligendi numquam est
    mollitia! Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ullam
    magnam neque, totam, earum consequatur, beatae unde odio quibusdam quam ex
    libero reprehenderit architecto illum impedit error cumque dignissimos
    autem.
  </p>
</div>
{% endblock page_content %}
