{% extends "base.html" %}
{% block title %}Contact Us{% endblock title %}
{% block page_content %}
<div class="mt-5 col-md-12">
  <h1>Contact Us</h1>
  <hr />

  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}

  <form action="" class="row g-3" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-md-6">

      <label class="form-label" for="{{ form.name.auto_id }}">{{ form.name.label }}</label>
      {{ form.name }}
      {% if form.name.errors %}
      {% for err_message in form.name.errors %}
      <div class="invalid-feedback">{{ err_message }}</div>
      {% endfor %}
      {% endif %}
    </div>

    <div class="col-md-6">
      <label class="form-label" for="{{ form.email.auto_id }}">{{ form.email.label }}</label>
      {{ form.email }}
      {% if form.email.errors %}
      {% for err_message in form.email.errors %}
      <div class="invalid-feedback">{{ err_message }}</div>
      {% endfor %}
      {% endif %}
    </div>

    <div class="col-md-6">

      <label class="form-label" for="{{ form.phone.auto_id }}">{{ form.phone.label }}</label>
      {{ form.phone }}
      {% if form.phone.errors %}
      {% for err_message in form.phone.errors %}
      <div class="invalid-feedback">{{ err_message }}</div>
      {% endfor %}
      {% endif %}
    </div>

    <div class="col-md-6">
      <label class="form-label" for="{{ form.address.auto_id }}">{{ form.address.label }}</label>
      {{ form.address }}
      {% if form.address.errors %}
      {% for err_message in form.address.errors %}
      <div class="invalid-feedback">{{ err_message }}</div>
      {% endfor %}
      {% endif %}
    </div>

    <div class="col-12">
      <label class="form-label" for="{{ form.message.auto_id }}">{{ form.message.label }}</label>
      {{ form.message }}
      {% if form.message.errors %}
      {% for err_message in form.message.errors %}
      <div class="invalid-feedback">{{ err_message }}</div>
      {% endfor %}
      {% endif %}
    </div>

     <div class="col-12">
      <label class="form-label" for="{{ form.userfile.auto_id }}">{{ form.userfile.label }}</label>
      {{ form.userfile }}
      {% if form.userfile.errors %}
      {% for err_message in form.userfile.errors %}
      <div class="invalid-feedback">{{ err_message }}</div>
      {% endfor %}
      {% endif %}
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>



</div>
{% endblock page_content %}